<!-- File Name: error.ejs   Student Name: James Yan   Student ID: 301229536   Date: 09/30/2022 -->
<!-- Importing Header -->
<%- include partials/header.ejs %>

<!-- Importing NavBar -->
<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<!-- Importing Scripts -->
<%- include partials/footer.ejs %>